{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block header %}

    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Categories of study courses!</h1>
    <p class="important">
      Below listed categories of study courses on my site:
    </p>
{% set categories = params.categories %}

<ul>
{% for category in categories %}
    <li>{{ category.name }}</li>
{% endfor %}
</ul>
<br>
<br>
<br>
<a href="/create_category"><button>Create new category</button></a>>

{% endblock %}