<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
<form method="post">
    <div>
        <label for="topic">Message topic</label>
        <input name="topic" id="topic" placeholder="Enter message topic here">
    </div>
    <div>
        <label for="message">What greeting do you want to say?</label>
        <input name="message" id="message" placeholder="Enter text here">
    </div>
    <div>
        <label for="response_to">Your email for response</label>
        <input name="response_to" id="response_to" placeholder="email address">
    </div>
    <div>
        <button>Send my greetings</button>
    </div>
</form>
</body>
</html>