{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block header %}

    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Categories of study courses!</h1>
    <p class="important">
      Below listed categories of study courses on my site:
    </p>
{% set students = params.students %}

<ul>
{% for student in students %}
    <li>{{ student.name }} {{ student.surname }}</li>
{% endfor %}
</ul>
<br>
<br>
<br>
<a href="/create_student">
    <button>Create a new student</button>
</a>
{% endblock %}